html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'DejaVu Sans Condensed';
	background-color: black;
}

.fade {
	opacity: 0;
	transition: opacity 0.15s linear, transform 0.15s ease-out;
}
.fade.in {
	opacity: 1;
}

.move.up {
	transform: translateY(-100%);
}
.move.down {
	transform: translateY(100%);
}
.move.in {
	transform: translateY(0);
}

.hidden {
	visibility: hidden;
}

.clickable {
	cursor: pointer;
}

#wrapper {
	height: 100%;
	background-size: cover;
	background-position: center;
}

#wrapper,
#cardContent {
	display: flex;
	justify-content: center;
	align-items: center;
}

#card {
	display: flex;
	flex-direction: column;
	width: 360px;
	height: 220px;
	background-color: rgba(53, 57, 69, 0.95);
	border-radius: 4px;
	border: 1px solid rgba(27, 29, 35, 0.95);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

#card.clickable:hover #clock {
	color: white;
}

#header {
	text-align: center;
	height: 60px;
	background-color: #353945;
	border-bottom: 5px #08c solid;
}

#archLogo {
	width: auto;
	height: 40px;
	margin: 10px 0;
}

#cardContent {
	position: relative;
	flex: 1;	
	overflow: hidden;
}

#clockContainer,
#loginContainer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#clock {
	font-family: 'DejaVu Sans Condensed Bold';
	font-size: 96px;
	color: #d3dae3;
	transition: color 0.15s linear;
}

#loginContainer {
	display: flex;
	padding: 0 40px;
}

#loginForm {
	display: flex;
	flex-direction: column;
	flex: 1;
}

#profileImage {
	width: 80px;
	height: 80px;
	background-size: cover;
	background-position: center;
	margin-right: 10px;
}

#profileImage.unknown {
	position: relative;
	background-color: #90A4AE;
	border-radius: 50%;
}

#profileImage.unknown:after {
	content: '?';
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	color: white;
	transform: translateY(-50%);
	margin-top: 50%;
	font-size: 3em;
	font-weight: bold;
}

select,
input[type=password] {
	flex: 1;
	-webkit-appearance: none;
	margin: 0;
	padding: 0 8px;
	margin: 5px 0;
	font-family: 'DejaVu Sans Condensed';
	font-size: 14px;
	color: #d3dae3;
	background-color: #404552;
	border: 1px solid #2b2e39;
	border-radius: 3px;
	outline: none;
	transition: all 0.15s linear;
}

select {
	background-image: url(../ui/dropdown-arrow.png);
	background-position: calc(100% - 10px) 50%;
	background-repeat: no-repeat;
}

input::-webkit-input-placeholder {
	color: #d3dae3;
	opacity: 0.25;
}

select:hover,
input[type=password]:hover {
	background-color: #505666;
}

select:active,
select:focus,
input[type=password]:active,
input[type=password]:focus {
	box-shadow: inset 0 0px 0px 1px #508dd5;
}

input[type=password].invalid {
	box-shadow: inset 0 0px 0px 1px #e53935;
}
