@font-face {
	font-family: 'DejaVu Sans Condensed';
	src: url('DejaVuSansCondensed-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DejaVu Sans Condensed Bold';
	src: url('DejaVuSansCondensed-Bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
